body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-top: 5rem;
    border: 1px solid #e31c1c;
}

.product-container, .selected-product {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.product-container {
    width: 40%;
}

.selected-product {
    width: 30%;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

#product-list {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    background-color: #ffffff;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

img {
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
    color: #333;
}

button {
    height: 40px;
    width: 120px;
    border: 1px solid #ff0000;
    color: #ff0000;
    background-color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #ff0000;
    color: #ffffff;
    cursor: pointer;
}
